# This file should be installed to /etc/udev/rules.d so that you can access the Inverter without being root
#
# type this at the command prompt: sudo cp solpiplog.rules /etc/udev/rules.d


SUBSYSTEM=="usb", ATTRS{idVendor}=="0665", MODE="0666"

